.admindash-main{
    width: 100%;
    padding: 10px;
    color: #4DA9EC;
font-family: "Noto Sans";
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.admin-dash-usercount{
    padding: 40px;
}
.ariel-class1{
    color: #0a69ad;
    font-size: 12px;
    
}
.admin-dash-functioncount1,
.admin-dash-functioncount2,
.admin-dash-functioncount3,
.admin-dash-functioncount4 {
    width: 100%;
    min-height: 82.936px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15.861px;
    padding: 10px;
}

.admin-dash-functioncount1 { background: #8978FF; }
.admin-dash-functioncount2 { background: #FAAE94; }
.admin-dash-functioncount3 { background: #5BEC7B; }
.admin-dash-functioncount4 { background: #FFA3DB; }

.admindash-seconfboxuser {
    width: 100%;
    min-height: 83px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10.557px;
    background: #84A7B1;
    margin: 10px auto;
    padding: 15px;
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 19.707px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 768px) {
    .admin-dash-usercount {
        padding: 10px;
    }
    
    .admindash-main {
        font-size: 18px;
        text-align: center;
    }
}