/* AboutUs Hero */

.about-home-hero {
  background-image: url('../../../Assets/Firefly 20240130134039 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 400px;
  padding: 5rem 1rem;
}


.about-hero-heading {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: clamp(24px, 5vw, 44px);
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
    .whatnew_mainheading {
        font-size: 32px;
        line-height: normal;
    }
}

.about-p{
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
}

/* AboutUs What we do */

.aboutwhatwedo_img{
    width: 100%;
}

/* AboutUs Whats new */

.whatnew_mainheading {
    color: #4DA9EC;
    font-size: 55px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
  
  }

  /* AboutUs Our Commitments */

.aboutourComit_img{
    width: 100%;
}