.user-reset-container {
    background-color: inherit;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 500px;
    margin: 2rem auto !important;
    min-height: 500px;
}

@media (max-width: 576px) {
    .user-reset-container {
        padding: 20px;
    }
    .user-register-header img {
        width: 80px;
    }
    .user-register-header h3 {
        font-size: 1.5rem;
        padding: 1rem !important;
    }
    .user-reset-container .m-5 {
        margin: 1rem !important;
    }
}

.resetpswd-eyeicon{
    position: absolute;
    top: 78%;
    left: 480px;
    /* transform: translateY(-50%); */
    cursor: pointer;
    color: #6c757d;

}
.resetpswd-eyeicon2{
    position: absolute;
    top: 91%;
    left: 480px;
    cursor: pointer;
    color: #6c757d;

}